blobfile==2.1.1
imageio==2.33.1
lmdb==1.4.1
numpy==1.24.3
opencv_python==4.10.0.82
Pillow==10.3.0
pydicom==2.4.4
PyYAML==6.0.1
PyYAML==6.0.1
streamlit==1.30.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==2.3.0
torch==2.3.0+cu121
torchvision==0.18.0
torchvision==0.18.1
torchvision==0.18.0+cu121
tqdm==4.65.0
wandb==0.17.1
